<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poetsen+One&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poetsen+One&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: "Roboto-Condensed";
        color: black;
      }
      body {
  overflow-x: hidden; 
  overflow-y: auto; 
}

      a img {
        width: 20vw;
        height: 15vw;
      }
      a {
        font-weight: 400;
      }
      .navbar-brand img {
        max-height: 3.4vw;
        max-width: 10vw;
        margin-left: 3vw; }

      .navbar-nav {
        margin-right: auto;
        margin-left: 35vw; 
      }
      .navbar-nav li {
        margin-left: 2vw; 
      }
      .navbar-nav .nav-link {
        position: relative;
        padding-bottom: 10px;
      }
      .navbar {
        background-color: white;
      }
      .contact {
        background-color: #0b82c7;
        border-radius: 12px;
        height: 36px;
        width: 85px;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        color: aliceblue;
      }

      .navbar-nav .nav-link::before,
      .navbar-nav .nav-link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #007bff; 
        transition: width 0.3s ease;
      }

      .navbar-nav .nav-link::before {
        top: 0;
        right: 0;
      }

      .navbar-nav .nav-link::after {
        bottom: 0;
        left: 0;
      }

      .navbar-nav .nav-link:hover::before,
      .navbar-nav .nav-link:hover::after {
        width: 100%;
      }


.homepage-content {
  padding: 100px 20px;
  line-height: 1.5;
}

.homepage-content p {
  font-size: 1.2rem; 
  margin-bottom: 30px; 
}

.get_started,
.learn_more {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem; 
  cursor: pointer;
}

.get_started {
  background-color: #0b82c7; 
  color: #fff; 
}

.learn_more {
  background-color: #fff; 
  color: #0b82c7; 
}

.half-screen-div {
  margin-top: 140px;
  background-size: cover; 
  background-position: center;
  background-image: url("Screenshot 2024-05-12 033932.png");
  height: calc(70vh - 56px); 
}





.container-fluid{
  margin-left: 25px;
}

      .half-screen-div {
        margin-top: 140px;
      margin-right: 100px;
        background-size:550px;
        background-image: url(images/home_image.png);
    
        background-repeat: no-repeat;
        height: calc(
          70vh - 56px
        );
      }
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      .fade-in {
        animation: fadeIn 2s ease-out;
      }
      h1{
        margin-top: 4vw;
        font-weight:bolder;
      }
      p1{
        margin-top: 25px;
        font-family: 'Roboto-Mono';
        line-height:25px ;
      }
      .get_started{
        width:10vw;
        height:2.9vw;

      }
   
      @media (max-width: 768px) {
        .half-screen-div {
    height: auto; 
    min-height: 300px;
  }
  .homepage-content {
    padding-top: 50px; 
    text-align: center; 
  }
}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="#">
        <img src="images/logo2.png" alt="Your Logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/sign">Data User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sign" data-target="data-owner"
              >Data Owner</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cloud Server</a>
          </li>
          <li class="nav-item">
            <button class="contact">Contact</button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid ">
      <div class="row">
        <div class="col-md-6">
          <!-- Div for content -->
          <div class="homepage-content mt-5 ml-3  fade-in">
            <h1>WELCOME TO <br> MEDSECURE</h1>
            <p>
              MedSecure is a state-of-the-art medical imaging platform that revoluntionizes the way healthcare professionals manage and access patient data.
            </p>
            <a href="/login" class="get_started">Get Started</a>
            <button class="learn_more"> Learn More</button>
          </div>
        </div>
        <div class="col-md-6">
          
          <div class="half-screen-div">
          </div>
        </div>
        </div>
    <script
      src="https://kit.fontawesome.com/2015da8192.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
